/*start global ---------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Montserrat;
    color: #333333;
}

body{
    width: 100%;
    height: 100%;
    background-color: #073b4c;
    background-size: cover;
}

section{
   padding: 6rem 0; 
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.596);
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}
/*End Global =================================================================*/


/*Start REUSABLE -------------------------------------------------------------*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    font-family: Montserrat;
    color: #073b4c;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(179, 151, 89, 0.75);
}

/*the line*/
.section-heading h1::before{
    width: 30rem;
    height: 4px;
    border-radius: .8rem;
} 

/*the dot*/
/*.section-heading h1::after{
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    bottom: 1rem;
} */

.section-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.has-margin-right{
    margin-right: 5rem;
}
/*End REUSABLE ===============================================================*/

/*Start HEADER----------------------------------------------------------------*/
header{
    width: 100%;
    height: 100vh;
    background-color: #073b4c;
    /*img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 
        filter: grayscale(100%); */
}

.top-nav{
    width: 100%;
    height: 20vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #073342;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    box-shadow: 2px 8px 30px #00000065;
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

li{
    margin: 0 2rem;
}

.nav-link{

    font-size: 5rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top,#b39759, #cc6e6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Open Menu*/
.top-nav.open{
    top: 0;
    border-radius: initial;
    font-family: Montserrat;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{ 
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ad6f6f, #b39759);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.landing-text h1{
    font-size: 15rem;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    padding-bottom: 5rem;
    user-select: none;       
}

#port{
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    color: white;
}

#folio{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    color: #b39759;
}

.landing-text h3{
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 8px 15px #00000065;
    padding: 3rem;
    padding-bottom: 3rem;
    border-bottom: 4px solid #b39759;
}
.landing-text h6{
    font-size: 3rem;
    font-weight: 300;
    font-family: Montserrat;
    color:white;
    padding-top: 3rem;
    /*text-shadow: 2px 8px 8px #000000;*/
}

.circle {
    height: 600px;
    width: 600px;
    background-image: linear-gradient(to right, #cc6e6e , #073b4c);
    border-radius: 50%;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 3rem;
  } 
/*End HEADER =================================================================*/


/*Start ABOUT-----------------------------------------------------------------*/
.about-heading h1{
    font-size: 10rem;
    color: #b39759;
    font-family: Montserrat;
    font-weight: 1000;
    text-transform: uppercase;
    margin-bottom: 6rem;
}

#profile-img{
    position: relative;
    left: 80px;
    top: 30px;
}

#about-col{
    border-left: 4px solid #b39759;
    padding-left: 2rem;
    padding-right: 3rem;
    color: white;
}

#about-col p{
    font-weight:400;
    font-family: Montserrat;
    font-size: 2rem;
    line-height: 1.3;
}

#about-col h6{
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
}

#quote{
    position: relative;
    top: -170px;
    width: 75%;
}

#social-media-icons{
    justify-content: left;
}

.social-medias{
    margin-top: 10rem;
    margin-left: 0;
}

.social-medias i{
    color: #b39759;
    font-size: 5rem;
    transition: color 350ms;
} 

/*.fa-facebook-square:hover{
    color: #4267b2;
}*/

.fa-behance-square:hover{
    color: #053eff;
}

.fa-instagram:hover{
    color: #DD2A7B;
}

.fa-pinterest:hover{
    color: #BD081c;
}

.fa-linkedin-in:hover{
    color: #0e76a8;
}

.fa-etsy:hover{
    color: #d5641c;
}

.fa-envelope-square:hover{
    color: #ffe838;
}
/*End ABOUT ==================================================================*/

/*Start CONTENT---------------------------------------------------------------*/
.content{
    border-bottom: 4px solid #b39759;
}
.content-heading h1{
    font-size: 7rem;
    font-family: Montserrat;
    font-weight: 1000;
    color: #b39759;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
}

.content-heading h1::before,
.content-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: auto;  
    background-image: linear-gradient(to right,#b39759, #ad6f6f, #073b4c);
}

.content-heading h1::before{
    width: 100%;
    height: 5px;  
} 

#content-row{
    background-image: linear-gradient(to right,#073b4c, #ad6f6f, #073b4c);
    padding: 1rem;
}

.card{
    background-color: #b39759;
    height: 100%;
}

.icon{
    width: 10rem;
    height: 10rem;
    background-color: none;
    display: flex;
    margin: auto;
}

.icon i{
    color: rgba(255, 255, 255, 0.75);
    font-size: 5rem;
    margin: auto;
}
.card-body h5{  
     color: #b39759;
     font-size: large;
}

.card-body{
    background-color: #073b4c;
    border:none;
    color: #ffffff;
    text-align: center;
}
/*End CONTENT=================================================================*/

/*Start BRANDING ------------------------------------------------------------*/
.branding-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;

}

.branding{
    background-color: #ffffff;
}

#branding-style{
    padding: 2rem;
    margin-bottom: 10rem;
}

#branding-style img:hover{  
    box-shadow: 0 0 2px 1px #ad6f6f;  
}

#branding-style h1{
    color: #073b4c;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid#b39759;
    width: 40%;
}



#branding-style h6{
    color: #073b4c;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*End BRANDING=================================================================*/

/*Start POSTERS ---------------------------------------------------------------*/
.posters{
    background-color: #ffffff;
}

#posters-row{
    padding-bottom: 7rem;
}
#posters-row img{
    height: 60rem;
    width: auto;
    border: 15px solid white;
    box-shadow: 2px 8px 15px #00000065;
}

#posters-row h3{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    color: #073b4c;
    padding-bottom: .3rem;
    text-align: center;
    /*transform: rotate(-90deg);*/  
}

#posters-row h4{
    font-family: Montserrat;
    font-size: 15px;
    color: #073b4c;
    padding-bottom: 10px;
    text-align: center;
    /*transform: rotate(-90deg);*/  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.clearfix {
    overflow: auto;
  }


/*End POSTERS==================================================================*/

/*Start PHOTO EDITING----------------------------------------------------------*/
.photo-editing{
    background-color: white;
}

#photo-editing-row h1{
    color: #ad6f6f;
    text-align: center;
    font-family: Montserrat;
    border: 2px solid #ad6f6f;
}

/*End PHOTO EDITING============================================================*/

/*Start PORTFOLIO -------------------------------------------------------------*/
.portfolio{
    background-color: white;
}
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}

.portfolio-img{
    flex: 1;
}

.portfolio-description{
    flex: 1;
}

.portfolio-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ff6ad2;
    transition: color 150ms;
}

.portfolio-description .cta:hover{
    color: #073b4c;
}

.product-layout { 
    padding: 2.5rem;
}
/*End PORTFOLIO ==============================================================*/

/*Start EDITORIALS -----------------------------------------------------------*/
.editorials{
    background-color: #ffffff;
    /*border-bottom: 4px solid #b39759;
    background-image: url('images/jmt\ cutout\ 3.png');*/
    background-size: cover;
}

#editorials-row h3{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    color: #073b4c;
    padding-bottom: .3rem;
    text-align: left;
    /*transform: rotate(-90deg);*/  
}

#editorials-row h4{
    font-family: Montserrat;
    font-size: 20px;
    color: #073b4c;
    text-align: left;
    /*transform: rotate(-90deg);*/  
}

#editorials-row h6{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 10px;
    color: #ad6f6f;
    text-align: left;
    padding-bottom: 5px;
    /*transform: rotate(-90deg);*/  
}
#infographic{
    height: 60rem;
    width: auto;
    box-shadow: 2px 8px 15px #000000;
}

#jmt-spread{
    height: 60rem;
    width: auto;
    /*background-color: #fff;
    background-image: linear-gradient(to top, #ad6f6f, #073b4c)*/
}


/*End EDITORIALS =============================================================*/

/*Start SOCIAL MEDIA ---------------------------------------------------------*/
.social-media-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.social-media{
    background-color: #ffffff;
}

.social-media img{
    box-shadow: 2px 8px 15px #00000052;
    border: 15px solid rgb(245, 245, 245);
    height: 45rem;
    width: auto;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
/*End SOCIAL MEDIA ===========================================================*/

/*Start ILLUSTRATION ---------------------------------------------------------*/
.illustration{
    background-color: #ffffff;
    border-bottom: 4px solid #b39759;
}

.illustration-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.illustration img {
    box-shadow: 2px 8px 15px #00000052;
}

/*End ILLUSTRATION ===========================================================*/

/*Start EXPERIENCE -----------------------------------------------------------*/
.timeline ul{
    border-left: 4px solid #ad6f6f;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.115);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1{
    font-size: 2rem;
    color: #ff9abc;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: .75;
}

.timeline .date{ /*The line separations*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
    color: #b39759;
}

.timeline .date::after{  /*The dots*/
    content: '';
    box-shadow: 0 0 0 4px #b39759;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #ad6f6f;
}
/*End EXPERIENCE =============================================================*/

/*Start CONTACT --------------------------------------------------------------*/
.contact{
    background-color: #333333;
    color: white;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #ffae00;
}

input[type="submit"]{
    width: initial;
    background-color: #ffae00;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 150ms;
}

input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}
/*End CONTACT ================================================================*/

/*Start FOOTER ---------------------------------------------------------------*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #073342;
    color: #b39759;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}
/*End FOOTER =================================================================*/

/*Start ANIMATION ------------------------------------------------------------*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(179, 151, 89, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(179, 151, 89, 0.0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(179, 151, 89, 0);
    }
}
/*End ANIMATION ==============================================================*/

/*Start MEDIA QUERIES --------------------------------------------------------*/
@media screen and (max-width: 768px) {
    body{
        width: 100%;
        height: 100%;
        background-color: #073b4c;
        background-size: cover;
    }

    .container{
        width: 90%;
        max-width: 120rem;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .circle {
        height: 500px;
        width: 500px;
        background-image: linear-gradient(to right, #ad6f6f , #073b4c);
        border-radius: 50%;
        margin: auto;
        margin-top: 75px;
      } 
    .landing-text h1{
        font-size: 10rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

   #social-media-icons{
       /* flex-direction: column;  */
        padding: 10px;
    }
    .nav-list{
        width: 60vh;
    }
    li{
        margin: 2rem 0;
        padding: 10px;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul{
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -20rem;
    }

    .timeline .date::after{
        left: -5.9rem;
    }
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
        height: 100%;
        background-color: #073b4c;
        background-size: cover;
    }
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        margin: 0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }    

    .timeline p{
      font-size: 1.6rem; 
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .up{
        right:2rem;
    }
}

/* Need to figure out for iphone-------------------------------------------------*/
@media screen and (max-width: 414px) {

    body{
        width: 100%;
        height: 100%;
        background-color: #073b4c;
        background-size: cover;
    }

    .circle{
        height: 300px;
        width: 300px;
        background-image: linear-gradient(to right, #cc6e6e , #073b4c);
        border-radius: 50%;
        margin: auto;
        margin-top: 60px;
        padding-bottom: 3rem;
    }
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    #port{
        text-align: center;
        color: white;
    }
    
    #folio{
        text-align: center;
        color: #b39759;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
        max-width: 100%;
        padding: 2rem;
    }

    .profile-img{
        margin-right: auto;
        padding-top: 3rem;
    }

    #posters-row img{
        height: 45rem;
        width: auto;
        border: 15px solid white;
        box-shadow: 2px 8px 15px #00000065;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        margin: 0;
        order: 2;
    }    

    .timeline p{
      font-size: 1.6rem; 
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .up{
        right:2rem;
    }  */
/*End MEDIA QUERIES ==========================================================*/
